.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    border-color: #222;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    filter: invert(1);
  }
  
  .title {
    margin: 0;
    margin-bottom: 50px;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #171717;
    color:rgba(0,112,243,.5);
    border-radius: 5px;
    border: 1px solid rgba(0,128,128,.6);
    padding: 0.75rem;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    font-size: 2.5rem;
    font-family: monospace, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    border: 1px solid rgba(0,128,128,.6);
    background-color:#141414;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: #444444;
    background-color:#141414;
    text-decoration: none;
    border-radius: 5px;
    border-color: #222;
    border: 1px solid rgba(0,128,128,.6);
    box-shadow: 0.5px -0.5px 0.5px 0.5px #292929;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    position: relative;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #525252;
    border-color: #BCEAD5;
  }
  /* at __webpack_require__.hmrM (http://localhost:3000/_next/static/chunks/webpack.js?ts=1667748933775:1186:20) */

  .card:hover .code {
    border-color: #BCEAD5;
  }

  .card:hover .profile {
    transform: scale(1.1);
    transition: color 0.15s ease, border-color 0.15s ease;
    border-color: #BCEAD5;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  .profile {
    margin: auto;
    margin-bottom: 22px;
    border-radius: 5px;
    display: block;
    width: 70%; 
    height: 70%; 
    float: center;
    cursor: url('/images/press-button-small.png'), auto;
  }

.monitor {
    display: grid;
    grid-gap: 6px;
    min-height: 337.50px;
    min-width: 600px;
    max-width: 1000px;
    border: 0px solid rgba(0,128,128,.6);
    background-color:#0070f3;
  }

.monitorframe {
    border: 1px solid rgba(0,128,128,.6);
    padding: 20px;
    cursor: url('/images/cursor-small.png'), auto;
}

.neck {
    border-left: 1px solid rgba(0,128,128,.6);
    border-right: 1px solid rgba(0,128,128,.6);
	height: 100px;
	width: 70px;
}

.tail {
    border: 1px solid rgba(0,128,128,.6);
	height: 5px;
	width: 225px;
}

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }